<html>

<head>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<ul>
    <li class="navbar-brand">
        <a class="nav-link" href="http://127.0.0.1:8000/home/">HOME</a>
      </li>

  <li class="navbar-brand">
    <a class="nav-link" href="http://127.0.0.1:8000/people/">PEOPLE'S PLAYLIST</a>
  </li>
  <li class="navbar-brand">
    <a class="nav-link" href="http://127.0.0.1:8000/peoplemovies/">PEOPLE'S MOVIES</a>
  </li>
  <li class="navbar-brand">
    <a class="nav-link" href="http://127.0.0.1:8000/peoplegames/">PEOPLE'S GAMES</a>
  </li>
 
  
  <li class="navbar-brand">
    <a class="nav-link" href="http://127.0.0.1:8000/logout/">LOGOUT</a>
  </li>



</ul>


</nav>
<div class="jumbotron">
 
 
    
 
{%for i in user%}
<h2><a href="http://127.0.0.1:8000/songlists/{{i.username}}/">{{i.username}}</a></h2>
{% endfor %}
<br>
</div>
</body>




</html>


